body {
    /* Typography Declarations */
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
     /**masthead**/
.masthead-intro,
.masthead-heading {
  text-align: center;
  text-weight: bold;
  color: white;
}
.masthead {
  background-image: url('https://unsplash.imgix.net/photo-1422310299561-e3b8b45d859f?fit=crop&fm=jpg&h=700&q=75&w=1050');
  background-repeat: no-repeat;
  background-size: cover;
  border: solid black;
  text-align: center;
  padding: -10em;
  height:  550px;
position:  255px 255px;
}
.masthead-intro {
    /* Layout Declarations */
    margin-bottom: 0.1em;
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
    font-weight: bold;
} 
.masthead-heading {
    /* Layout Declarations */
    margin-top: -0.2em;
    /* Typography Declarations */
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
   }
/***.content-footer,
.introduction-section**/

.content-footer,
.introduction-section
 {
    text-align: center;
    background-color:	#E6DAC1;
    border:solid black;
    padding: 1em;
}
.questions-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
}
.content-footer > p {
  color: black;
}
.introduction-section > p,
.location-section > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 200;
    letter-spacing: 0.05em;
}
.questions-section > h2 {
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 1.2em;
    font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
}
  .section > h1 {
  margin-top: 2em; 
}
@media only screen and (max-width:  500px) {
  .masthead {
    padding: 3em 0
  }
  .masthead-heading {
    font-size: 3em;
  
  }
 }
/**Miscellaneous**/
li {
  height: 300px;
  padding: 5px;
  text-align: center;
  display: inline-block;
  margin-left:  275px;

}
.Projects {

  background-color:  #E6DAC1;
  border:solid black;
}
.Projects h2 {
  text-align: center;
}  
h5 {
  margin-left: 475px;
  font-size: 20px;
  margin-top: 200px;
}
.Projects h5{
  margin-left: 500px;
  font-size: 15px;
  margin-top: -20px;
  }